# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
    paths:
      - 'src/**/*.py'
      - 'src/requirements*.txt'
      - 'src/tests/**'
      - '.github/workflows/python-app.yml'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'src/**/*.py'
      - 'src/requirements*.txt'
      - 'src/tests/**'
      - '.github/workflows/python-app.yml'

permissions:
  contents: read

jobs:
  test_linux:
    runs-on:
    - ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.11
      uses: actions/setup-python@v6
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r src/requirements-dev.txt
    - name: Test with pytest
      run: |
        export PYTHONPATH=$(pwd)/src
        pytest -v --show-capture=stdout -k "not integration" ./src/tests

  test_windows:
    runs-on:
    - windows-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.11
      uses: actions/setup-python@v6
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r src/requirements-dev.txt
    - name: Test with pytest
      run: |
        $env:PYTHONPATH="$pwd\src"
        pytest -v --show-capture=stdout -k "not integration" ./src/tests